---
import i18next from '../i18n.js';
const { lang } = Astro.props;
i18next.changeLanguage(lang || 'de');

const aboutTitle = i18next.t('aboutmeTitle');
const aboutSubtitle = i18next.t('aboutmeSubtitle');
const aboutDescription = i18next.t('aboutMeDescription');
const aboutGreeting = i18next.t('aboutmeGreeting');
const languages = i18next.t('languages');
const german = i18next.t('german');
const spanish = i18next.t('spanish');
const english = i18next.t('english');
const available = i18next.t('available');
---
<section class="h-screen mt-20">
    <h1 id="about-title" class="relative text-5xl sm:text-6xl md:text-7xl lg:text-8xl text-black dark:text-white font-saira font-black z-10 text-center">
        {aboutTitle}
    </h1>

    <h2 id="about-subtitle" class="relative text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-primary font-dafoe font-regular z-20 text-center transform -translate-y-20 sm:-translate-y-[100px] md:-translate-y-[125px] lg:-translate-y-[135px] translate-x-6 sm:translate-x-[38px] md:translate-x-[40px] lg:translate-x-[30px] text-shadow-led-effect-h2 dark:text-shadow-dark-led-effect-h2">
        {aboutSubtitle}
    </h2>

    <div class="flex flex-col md:flex-row items-center md:items-start -mt-40 sm:-mt-16 lg:-mt-20 space-y-4 sm:space-y-0 sm:space-x-8">
        <img src="/perfil_photo.png" alt="Foto de About Me" loading="lazy" class="w-64 sm:w-80 md:w-96 lg:w-96 h-auto mt-20 sm:mt-0 object-cover rounded-lg">

        <div class="text-center sm:text-left space-y-6">
            <h1 id="about-greeting" class="text-white mb-10 text-xl sm:text-xl md:text-2xl lg:text-3xl font-archivo leading-none flex flex-col sm:flex-row items-center">
                {aboutGreeting}
                <a href="https://www.linkedin.com/in/luisfernandezz/" target="_blank" class="inline-flex ml-3 items-center px-2 py-1 bg-gray-100 rounded-full text-black font-mplus hover:bg-gray-200 hover:shadow-lg transition duration-300 leading-none mt-4 sm:mt-0">
                    <span class="w-5 h-5 bg-teal-400 rounded-full mr-3 circle"></span>
                    <span class="lg:text-lg md:text-base sm:text-sm text-xs">{available}</span>
                </a>
            </h1>
                      
            <p id="about-description" class="text-lg sm:text-xl md:text-xl lg:text-xl text-black dark:text-white font-mplus font-regular leading-snug" set:html={aboutDescription}></p>          

            <div class="flex flex-col sm:flex-row sm:space-x-8">
                <div class="relative rounded-xl border-2 border-black mt-2 sm:mt-10 dark:border-white py-4 px-6 text-black dark:text-white w-[24rem]">
                    <h2 class="text-2xl font-archivo mb-4">{languages}</h2>
                    <div class="space-y-2">
                        <div class="flex justify-between items-center">
                            <span id="german-language" class="font-mplus text-lg">{german}</span>
                            <div class="flex space-x-1">
                                <img src="/star.svg" alt="German proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="German proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="German proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="German proficiency" class="w-6 sm:w-8" loading="lazy">
                            </div>
                        </div>

                        <div class="flex justify-between items-center">
                            <span id="spanish-language" class="font-mplus text-lg">{spanish}</span>
                            <div class="flex space-x-1">
                                <img src="/star.svg" alt="Spanish proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="Spanish proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="Spanish proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="Spanish proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="Spanish proficiency" class="w-6 sm:w-8" loading="lazy">
                            </div>
                        </div>

                        <div class="flex justify-between items-center">
                            <span id="english-language" class="font-mplus text-lg">{english}</span>
                            <div class="flex space-x-1">
                                <img src="/star.svg" alt="English proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="English proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="English proficiency" class="w-6 sm:w-8" loading="lazy">
                                <img src="/star.svg" alt="English proficiency" class="w-6 sm:w-8" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>                

                <div class="flex flex-row sm:flex-col justify-center sm:justify-start mt-4 sm:mt-10 space-x-6 sm:space-x-0 sm:space-y-5">
                    <a href="https://github.com/byluisfer" class="social-icon" target="_blank" aria-label="Github">
                        <i class="fab fa-github fa-2x text-black dark:text-white"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/luisfernandezz/" class="social-icon" target="_blank" aria-label="Linkedin">
                        <i class="fab fa-linkedin fa-2x text-black dark:text-white"></i>
                    </a>
                    <a href="mailto:luisferdass@gmail.com" class="social-icon" target="_blank" aria-label="Gmail">
                        <i class="fa-regular fa-envelope fa-2x text-black dark:text-white"></i>
                    </a>
                    <a href="/CV_Luis_Fernandez.pdf" target="_blank" class="social-icon" target="_blank" aria-label="CV">
                        <i class="fa-regular fa-address-book fa-2x text-black dark:text-white"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .social-icon {
        transition: transform 0.3s ease;
    }

    .social-icon:hover {
        transform: scale(1.2);
        filter: drop-shadow(0px 0px 5px rgb(5, 53, 86));
    }
    @keyframes pulsate {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  .circle {
    animation: none;
  }

  a:hover .circle {
    animation: pulsate 2s infinite;
  }
</style>
